<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>お問い合わせ内容のご確認</title>
<link rel="stylesheet" type="text/css" href="/shared/css/index.css" media="all">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="/appjs/agencyControl.js"></script>
<!--#include virtual="/shared/inc/common_head_r.html" -->
</head>

<body id="form_area">
<!--#include virtual="/shared/inc/header_r.html" -->
<div id="l-wrapper">
  
  <div class="p-head_page">
    <div class="p-head_pageInner">
      <h1>お問い合わせ内容のご確認</h1>
    </div>
  </div>
  <main class="l-main">
    <div class="l-inner">
      <div class="p-section">
        <p class="u-txt_c">入力いただいた内容をご確認のうえ「この内容で問い合わせする」ボタンを押してください。</p>
      </div>
      <section class="p-section">
        <h2 class="c-ttl_sec">お問い合わせ種別</h2>
        <div class="p-form_item">申し込みのご相談</div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec">お問い合わせ内容</h2>
        <div class="p-form_item">SPUの対象となっているはずなのですが、SPUが点灯していません。</div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec">お問い合わせする方の情報</h2>
        <div class="p-form">
          <div class="p-form_item"><span class="weight4">お名前（漢字）</span><br>
          楽天 生命</div>
          <div class="p-form_item"><span class="weight4">お名前（カナ）</span><br>
          ラクテン セイメイ</div>
          <div class="p-form_item"><span class="weight4">生年月日</span><br>
          1989-01-13</div>
          <div class="p-form_item"><span class="weight4">日中のご連絡先電話番号</span><br>
            <span class="weight4">別の電話番号</span><br>
          0300000000</div>
          <div class="p-form_item"><span class="weight4">メールアドレス</span><br>
          aaaa@example.ne.jp</div>
          <div class="p-form_item"><span class="weight4">ご契約者様との続柄</span><br>
          配偶者</div>
        </div>
      </section>
      <div class="p-form_btn">
        <input type="button" name="button" id="button" value="修正する" class="c-btn_rewrite">
      </div>
      <div class="p-form_add l-inner_s">
        <p>お問合せ内容によっては回答にお時間をいただく場合があります。あらかじめご了承ください。ご質問内容や、入力内容の確認のため、お電話やショートメッセージ（SMS）でご連絡する場合がございます。</p>
      </div>
      <div class="p-form_btn">
        <input name="nmButtonConfirmationPage" type="submit" class="c-btn_submit" id="ButtonConfirmationPage" value="この内容で問い合わせする">
      </div>
    </div>
  </main>
  <footer class="l-footer">
    <div class="l-inner">
      <!-- <div class="p-pagetop"><a href="#l-wrapper" class="js-scroll">ページトップへ戻る</a></div> -->
    </div>
  </footer>
</div>
<script type="text/javascript" src="js/lib.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<!--#include virtual="/shared/inc/footer_r.html" -->
<!--#include virtual="/shared/inc/footer_group_r.html" -->
<!--#include virtual="/shared/inc/common_foot_r.html" -->
</body>
</html>
