<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>お問い合わせを受け付けました</title>
<link rel="stylesheet" type="text/css" href="/shared/css/index.css" media="all">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="/appjs/agencyControl.js"></script>
<!--#include virtual="/shared/inc/common_head_r.html" -->
</head>

<body id="form_area">
<!--#include virtual="/shared/inc/header_r.html" -->
<div id="l-wrapper">
  
  <div class="p-head_page">
    <div class="p-head_pageInner">
      <h1>お問い合わせを受け付けました</h1>
    </div>
  </div>
  <main class="l-main">
    <div class="l-inner_s">
      <div class="p-section">
        <p>お問合せいただきありがとうございます。</p>
        <p>お問合せ頂いた内容につきましては専用フォームよりご回答させていただきます。<br>
        また、専用フォームURLはご登録のメールアドレスに送付させていただきます。</p>
        <p class="u-txt_c">お問い合わせ番号<br>
        0000-0000-0000</p>
        <p class="u-txt_c"><a href="#" class="u-icon_arrow">●●サイトへ</a></p>
      </div>
    </div>
  </main>
  <footer class="l-footer">
    <div class="l-inner">
      <!-- <div class="p-pagetop"><a href="#l-wrapper" class="js-scroll">ページトップへ戻る</a></div> -->
    </div>
  </footer>
</div>
<script type="text/javascript" src="js/lib.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<!--#include virtual="/shared/inc/footer_r.html" -->
<!--#include virtual="/shared/inc/footer_group_r.html" -->
<!--#include virtual="/shared/inc/common_foot_r.html" -->
</body>
</html>
