<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>よくあるご質問</title>
<link rel="stylesheet" type="text/css" href="/shared/css/index.css" media="all">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="/appjs/agencyControl.js"></script>
<!--#include virtual="/shared/inc/common_head_r.html" -->
</head>

<body id="gen_area">
<!--#include virtual="/shared/inc_gen/header.html" -->
<div id="l-wrapper">
  
  <main class="l-main">
    <div class="l-inner">
      <div class="p-faq">
        <div class="p-faq_q">解約をする場合の手続きについて教えてください。</div>
        <div class="p-faq_a">
          <p>契約者ご本人さまより、楽天生命オペレーターによるチャット・お電話にて承ります。<br>
            以下のページよりお手続きをお願いいたします。</p>
          <p>【<a href="#" class="under_line">解約・減額・減口について</a>】</p>
          <p>＊当社<a href="#" class="under_line">委託先</a>が承ります。</p>
        </div>
        <div class="p-faq_enq">
          <p class="u-fs12 u-txt_c">アンケートにご協力ください</p>
          <p class="p-faq_enqHead">この回答は役に立ちましたか？</p>
          <ul class="p-faq_enqBtns">
            <li><a href="#" class="c-btn_red _rv">はい</a></li>
            <li><a href="#" class="c-btn_red">いいえ</a></li>
          </ul>
          <p class="u-fs12 u-txt_c">〇人のかたの参考になっています。</p>
        </div>
      </div>
      <section class="p-section">
        <h2 class="c-ttl_sec">注目のご質問</h2>
        <div class="p-form_item">
          <div class="c-list_faq">
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
          </div>
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec">よく読まれているご質問</h2>
        <div class="p-form_item">
          <div class="c-list_faq">
            <div class="c-list_faqChild">
              <div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
              <div class="c-list_faqBody">
                <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
                <p class="readmore"><a href="#">もっと見る＞</a></p>
              </div>
            </div>
            <div class="c-list_faqChild">
              <div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
              <div class="c-list_faqBody">
                <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
                <p class="readmore"><a href="#">もっと見る＞</a></p>
              </div>
            </div>
            <div class="c-list_faqChild">
              <div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
              <div class="c-list_faqBody">
                <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
                <p class="readmore"><a href="#">もっと見る＞</a></p>
              </div>
            </div>
            <div class="c-list_faqChild">
              <div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
              <div class="c-list_faqBody">
                <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
                <p class="readmore"><a href="#">もっと見る＞</a></p>
              </div>
            </div>
            <div class="c-list_faqChild">
              <div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
              <div class="c-list_faqBody">
                <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
                <p class="readmore"><a href="#">もっと見る＞</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec _contact">お問い合わせ</h2>
        <div class="p-form_item">
          <p class="u-txt_c"><a href="#" class="c-btn_red">チャットボットでお問い合わせ</a></p>
        </div>
      </section>
      <div class="p-section u-txt_c"><a href="#" class="c-btn_red">お客様サポートTOPへ戻る</a></div>
    </div>
  </main>
  <footer class="l-footer">
    <div class="l-inner">
      <!-- <div class="p-pagetop"><a href="#l-wrapper" class="js-scroll">ページトップへ戻る</a></div> -->
    </div>
  </footer>
</div>
<script type="text/javascript" src="js/lib.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<!--#include virtual="/shared/inc_gen/footer.html" -->
</body>
</html>
