<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>よくあるご質問</title>
<link rel="stylesheet" type="text/css" href="/shared/css/index.css" media="all">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="/appjs/agencyControl.js"></script>
<!--#include virtual="/shared/inc/common_head_r.html" -->
</head>

<body id="gen_area" class="gen_area_top">
<!--#include virtual="/shared/inc_gen/header.html" -->
<div id="l-wrapper">
  
  <div class="p-head_page">
    <div class="p-head_pageInner">
      <h1>よくあるご質問</h1>
    </div>
  </div>
  <main class="l-main">
    <div class="l-inner">
      <section class="p-section">
        <h2 class="c-ttl_sec">キーワードから探す</h2>
        <div class="p-form_item">
          <input name="search" type="search" id="search" placeholder="キーワードを入力してください。" class="c-form_text u-icon_search">
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec">カテゴリから探す</h2>
        <div class="p-form_item">

          <div class="p-catSelect">
            <div class="menu">
              <input type="checkbox" id="menu_bar01">
              <label for="menu_bar01" class="p-catSelect_head js-accordion open1">商品・補償</label>
              <ul id="links01" class="c-list_categorySub1">
                <li><a href="#">自動車</a></li>
                <li><a href="#">火災</a></li>
                <li><a href="#">傷害</a></li>
                <li><a href="#">自動車・火災・傷害共通</a></li>
                <li><a href="#">自動車・火災・傷害以外</a></li>
              </ul>
            </div>
          </div>

          <div class="p-catSelect">
            <div class="menu">
              <input type="checkbox" id="menu_bar02">
              <label for="menu_bar02" class="p-catSelect_head js-accordion open2">異動手続き</label>
              <ul id="links02" class="c-list_categorySub2">
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
              </ul>
            </div>
          </div>

          <div class="p-catSelect">
            <div class="menu">
              <input type="checkbox" id="menu_bar03">
              <label for="menu_bar03" class="p-catSelect_head js-accordion open3">引受・申込方法</label>
              <ul id="links03" class="c-list_categorySub3">
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
              </ul>
            </div>
          </div>

          <div class="p-catSelect">
            <div class="menu">
              <input type="checkbox" id="menu_bar04">
              <label for="menu_bar04" class="p-catSelect_head js-accordion open4">事故受付・保険金請求</label>
              <ul id="links04" class="c-list_categorySub4">
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
              </ul>
            </div>
          </div>

          <div class="p-catSelect">
            <div class="menu">
              <input type="checkbox" id="menu_bar05">
              <label for="menu_bar05" class="p-catSelect_head js-accordion open5">引受制限</label>
              <ul id="links05" class="c-list_categorySub5">
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
              </ul>
            </div>
          </div>

          <div class="p-catSelect">
            <div class="menu">
              <input type="checkbox" id="menu_bar06">
              <label for="menu_bar06" class="p-catSelect_head js-accordion open6">控除証明書</label>
              <ul id="links06" class="c-list_categorySub6">
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
              </ul>
            </div>
          </div>

          <div class="p-catSelect">
            <div class="menu">
              <input type="checkbox" id="menu_bar07">
              <label for="menu_bar07" class="p-catSelect_head js-accordion open7">楽天ポイント</label>
              <ul id="links07" class="c-list_categorySub7">
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
              </ul>
            </div>
          </div>

          <div class="p-catSelect">
            <div class="menu">
              <input type="checkbox" id="menu_bar08">
              <label for="menu_bar08" class="p-catSelect_head js-accordion open8">発送書類</label>
              <ul id="links08" class="c-list_categorySub8">
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
              </ul>
            </div>
          </div>

          <div class="p-catSelect">
            <div class="menu">
              <input type="checkbox" id="menu_bar09">
              <label for="menu_bar09" class="p-catSelect_head js-accordion open9">ご契約者さまのサービス</label>
              <ul id="links09" class="c-list_categorySub9">
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
                <li><a href="#">ほげほげ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec">注目のご質問</h2>
        <div class="p-form_item">
          <div class="c-list_faq">
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
          </div>
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec">よく読まれているご質問</h2>
        <div class="p-form_item">
          <div class="c-list_faq">
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
          </div>
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec _contact">お問い合わせ</h2>
        <div class="p-form_item">
          <p class="u-txt_c"><a href="#" class="c-btn_red">チャットボットでお問い合わせ</a></p>
        </div>
      </section>
    </div>
  </main>
  <footer class="l-footer">
    <div class="l-inner">
      <!-- <div class="p-pagetop"><a href="#l-wrapper" class="js-scroll">ページトップへ戻る</a></div> -->
    </div>
  </footer>
</div>
<script type="text/javascript" src="js/lib.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="./js/click.js"></script>
<!--#include virtual="/shared/inc_gen/footer.html" -->
</body>
</html>
