<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>よくあるご質問</title>
<link rel="stylesheet" type="text/css" href="/shared/css/index.css" media="all">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="/appjs/agencyControl.js"></script>
<!--#include virtual="/shared/inc/common_head_r.html" -->
</head>

<body id="gen_area" class="gen_category_sub">
<!--#include virtual="/shared/inc_gen/header.html" -->
<div id="l-wrapper">
  
  <div class="p-head_page">
    <div class="p-head_pageInner">
      <h1>商品・補償  <span class="sub">- 自動車</span></h1>
    </div>
  </div>
  <main class="l-main">
    <div class="l-inner">
      <section class="p-section">
        <h2 class="c-ttl_sec">自動車 <span class="sub">全〇件</span></h2>
        <div class="p-form_item">
          <div class="c-list_faq">
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
            <div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">テキストテキストテキストテキストテキストテキストテキスト</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
          </div>
          <p class="u-txt_c"><a href="#" class="c-btn_red">さらに表示</a></p>
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec _contact">別の条件で絞り込む</h2>
        <div class="p-form_item">
          <div class="p-catSelect">
            <div class="p-form_item">
              <ul class="c-list_category">
                <li><a href="#">自動車</a></li>
                <li><a href="#">火災</a></li>
                <li><a href="#">傷害</a></li>
                <li><a href="#">自動車・火災・傷害共通</a></li>
                <li><a href="#">自動車・火災・傷害以外</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec _contact">お問い合わせ</h2>
        <div class="p-form_item">
          <p class="u-txt_c"><a href="#" class="c-btn_red">チャットボットでお問い合わせ</a></p>
        </div>
      </section>
      <div class="p-section u-txt_c"><a href="#" class="c-btn_red">お客様サポートTOPへ戻る</a></div>
    </div>
  </main>
  <footer class="l-footer">
    <div class="l-inner">
      <!-- <div class="p-pagetop"><a href="#l-wrapper" class="js-scroll">ページトップへ戻る</a></div> -->
    </div>
  </footer>
</div>
<script type="text/javascript" src="js/lib.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<!--#include virtual="/shared/inc_gen/footer.html" -->
</body>
</html>
