<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>よくあるご質問</title>
<link rel="stylesheet" type="text/css" href="/shared/css/index.css" media="all">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="/appjs/agencyControl.js"></script>
<!--#include virtual="/shared/inc/common_head_r.html" -->
</head>

<body id="life_area" class="life_category_sub">
<!--#include virtual="/shared/inc/header_r.html" -->
<div id="l-wrapper">
  
  <div class="p-head_page">
    <div class="p-head_pageInner">
      <h1>各種お手続き <span class="sub">- 改姓・改名</span></h1>
    </div>
  </div>
  <main class="l-main">
    <div class="l-inner">
      <section class="p-section">
        <h2 class="c-ttl_sec">改性・改名 <span class="sub">全〇件</span></h2>
        <div class="p-form_item">
          <div class="c-list_faq">
            <div class="c-list_faqChild"><div class="c-list_faqHead">氏名変更の手続きを教えてください。</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
            <div class="c-list_faqChild"><div class="c-list_faqHead">改性・改名には何か書類は必要ですか？</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">改性・改名には何か書類は必要ですか？</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">改性・改名には何か書類は必要ですか？</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">改性・改名には何か書類は必要ですか？</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">改性・改名には何か書類は必要ですか？</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">改性・改名には何か書類は必要ですか？</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">改性・改名には何か書類は必要ですか？</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">改性・改名には何か書類は必要ですか？</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
						<div class="c-list_faqChild"><div class="c-list_faqHead">改性・改名には何か書類は必要ですか？</div>
            <div class="c-list_faqBody">
              <p>ほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</p>
              <p class="readmore"><a href="#">もっと見る＞</a></p>
            </div></div>
          </div>
          <p class="u-txt_c"><a href="#" class="c-btn_red">さらに表示</a></p>
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec _contact">別の条件で絞り込む</h2>
        <div class="p-form_item">
          <div class="p-catSelect">
            <div class="p-form_item">
              <ul class="c-list_category">
                <li><a href="#">改性・改名</a></li>
                <li><a href="#">住所変更</a></li>
                <li><a href="#">電話番号変更</a></li>
                <li><a href="#">メールアドレス変更</a></li>
                <li><a href="#">契約者変更</a></li>
                <li><a href="#">受取人変更</a></li>
                <li><a href="#">指定代理請求人変更</a></li>
                <li><a href="#">減口・減額</a></li>
                <li><a href="#">保険証券・共済証書の再発行</a></li>
                <li><a href="#">保険料控除証明書の再発行</a></li>
                <li><a href="#">その他（各種お手続き）</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="p-section">
        <h2 class="c-ttl_sec _contact">お問い合わせ</h2>
        <div class="p-form_item">
          <p class="u-txt_c"><a href="#" class="c-btn_red">チャットボットでお問い合わせ</a></p>
        </div>
      </section>
      <div class="p-section u-txt_c"><a href="#" class="c-btn_red">お客様サポートTOPへ戻る</a></div>
    </div>
  </main>
  <footer class="l-footer">
    <div class="l-inner">
      <!-- <div class="p-pagetop"><a href="#l-wrapper" class="js-scroll">ページトップへ戻る</a></div> -->
    </div>
  </footer>
</div>
<script type="text/javascript" src="js/lib.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<!--#include virtual="/shared/inc_life/footer_r.html" -->
<!--#include virtual="/shared/inc_life/footer_group_r.html" -->
<!--#include virtual="/shared/inc_life/common_foot_r.html" -->
</body>
</html>
