<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="format-detection" content="telephone=no">
  <title>お手続きを取り消しました</title>
  <link rel="stylesheet" type="text/css" href="/shared/css/index.css" media="all">
  <link rel="stylesheet" type="text/css" href="../css/style.css?4">
  <script type="text/javascript" src="/appjs/agencyControl.js"></script>
  <!--#include virtual="/shared/inc/common_head_r.html" -->
</head>

<body id="form_area">
<!--#include virtual="/shared/inc/header_r.html" -->
<div id="l-wrapper">
  
  <div class="p-head_page sp_no_border">
    <div class="p-head_pageInner">
      <h1>お手続きを取り消しました</h1>
    </div>
  </div>
  <div class="sp_border"></div>
  <main class="l-main">
    <div class="l-inner_s">
      <div class="p-section">
        <p>お手続きをご希望される場合は、改めてお電話、もしくはホームページにてお手続きをお願いしいたします。</p>
        <div class="center c-complete_link">
          <a href="https://www.rakuten-insurance.co.jp" class="c-link_with_icon">楽天保険の総合窓口ホームページに遷移します</a>
        </div>
        <div class="c-box_guide phone_number">
          <div class="mb-8">お問い合わせは、以下の電話番号で承ります。</div>
          <div class="bold mb-8">
            楽天保険の総合窓口<br>
            0120-977-010
          </div>
          <div>受付時間：9:00～18:00（年末年始を除く）</div>
        </div>
      </div>
    </div>
  </main>
  <footer class="l-footer">
    <div class="l-inner">
      <div class="p-pagetop"><a href="#l-wrapper" class="js-scroll">ページトップへ戻る</a></div>
    </div>
  </footer>
</div>
<script type="text/javascript" src="../js/lib.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<!--#include virtual="/shared/inc/footer_r.html" -->
<!--#include virtual="/shared/inc/footer_group_r.html" -->
<!--#include virtual="/shared/inc/common_foot_r.html" -->
</body>
</html>
